@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App Container</h1>
</div>

<div id="app-container">
    <div id="app1Location" class="app-tile"><h1>Loading...</h1></div>
    <div id="app2Location" class="app-tile"><h1>Loading...</h1></div>
    <div id="app3Location" class="app-tile"><h1>Loading...</h1></div>
    <div id="app4Location" class="app-tile"><h1>Loading...</h1></div>
</div>