@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    string rootUrl = Configuration["rootUrl"];
}
<div id="content">
    <div class="text-center">
        <h4>Page Two</h4>
    </div>
    <a data-ajax="true" data-ajax-url="@rootUrl/home/page3" data-ajax-update="#webapp2 #content"
       data-ajax-loading="#webapp2 #spinner">Next Page</a>
</div>
